<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title=#{comments.comments})"></head>
<body>
<div class="container">
  <div class="card mt-3" th:each="comment: ${comments}">
    <div class="card-body">
      <h5 class="card-title" th:text="${comment.name}"></h5>
      <p class="card-text" th:text="${comment.content}"></p>
      <a th:href="@{/comments/update(id=${comment.commentId})}" class="btn btn-primary" th:text="#{comments.change}"></a>
      <a th:href="@{/comments/delete(id=${comment.commentId})}" class="btn btn-primary" th:text="#{comments.delete}"></a>
    </div>
  </div>
</div>
<footer th:insert="fragments/layout :: footer" class="bg-light text-center text-lg-start fixed-bottom"></footer>

</body>
</html>