<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title=#{posts.create.new})"></head>
<body>

<div class="container mt-3">
    <form method="post" th:object="${post}">
        <div class="mb-3">
            <label for="newName" class="form-label" th:text="#{create.new.name}"
                   th:class="${#fields.hasErrors('name')} ? error"></label>
            <input type="text" class="form-control" id="newName" th:field="*{name}" th:placeholder="#{create.new.name}"
                   th:errorclass="error">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></p>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label" th:text="#{create.category}"
                   th:class="${#fields.hasErrors('category')} ? error"></label>
            <input type="text" class="form-control" id="category" th:field="*{category}"
                   th:placeholder="#{create.category}" th:errorclass="error">
            <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" th:errorclass="error"></p>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label" th:text="#{create.desription}"
                   th:class="${#fields.hasErrors('description')} ? error"></label>
            <textarea class="form-control" id="description" rows="5" th:field="*{description}"
                      th:placeholder="#{create.desription}" th:errorclass="error"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="error"></p>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label" th:text="#{create.content}"
                   th:class="${#fields.hasErrors('content')} ? error"></label>
            <textarea class="form-control" id="content" rows="15" th:field="*{content}"
                      th:placeholder="#{create.content}" th:errorclass="error"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:errorclass="error"></p>
        </div>
        <a th:href="@{/posts}" class="btn btn-primary" th:text="#{posts.back}"></a>
        <button type="submit" class="btn btn-primary" th:text="#{create.save}"></button>
    </form>
</div>
<footer th:insert="fragments/layout :: footer" class="bg-light text-center text-lg-start"></footer>
</body>
</html>