<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title=#{posts.signin})"></head>
<body>
<div th:insert="fragments/layout :: navbar" class="container"></div>

<div class="container">
  <div class="row">
    <div class="col-5">
      <form method="post" th:object="${login}">
        <div class="mb-3">
          <label for="loginUsername" class="form-label" th:text="#{user.username}"></label>
          <input type="text"
                 class="form-control"
                 id="loginUsername"
                 th:field="*{username}"
                 aria-describedby="username"
                 th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'">
          <div id="username" class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="mb-3">
          <label for="userRegistrationPassword" class="form-label" th:text="#{user.password}"></label>
          <input type="password"
                 class="form-control"
                 th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                 id="userRegistrationPassword"
                 aria-describedby="password"
                 th:field="*{password}">
          <div id="password" class="invalid-feedback" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></div>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{posts.signin}"></button>
      </form>
    </div>
  </div>
</div>

<footer th:insert="fragments/layout :: footer" class="bg-light text-center text-lg-start fixed-bottom"></footer>

</body>
</html>