<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title=#{user.register})"></head>
<body>
<div th:insert="fragments/layout :: navbar" class="container"></div>

<div class="container">
    <div class="row">
        <div class="col-5">
            <form method="post" th:object="${user}">
                <div class="mb-3">
                    <label for="userRegistrationName" class="form-label" th:text="#{user.name}"></label>
                    <input type="text"
                           class="form-control"
                           id="userRegistrationName"
                           th:field="*{name}"
                           aria-describedby="name"
                           th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'">
                    <div id="name" class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                    <label for="userRegistrationSurname" class="form-label" th:text="#{user.surname}"></label>
                    <input type="text"
                           th:class="${#fields.hasErrors('surname')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationSurname"
                           aria-describedby="surname"
                           th:field="*{surname}">
                    <div id="surname" class="invalid-feedback" th:if="${#fields.hasErrors('surname')}"
                         th:errors="*{surname}"></div>

                </div>
                <div class="mb-3">
                    <label for="userRegistrationUsername" class="form-label" th:text="#{user.username}"></label>
                    <input type="text"
                           th:class="${#fields.hasErrors('surname')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationUsername"
                           aria-describedby="userName"
                           th:field="*{userName}">
                    <div id="userName" class="invalid-feedback" th:if="${#fields.hasErrors('userName')}"
                         th:errors="*{userName}"></div>
                </div>
                <div class="mb-3">
                    <label for="userRegistrationEmail" class="form-label" th:text="#{user.email}"></label>
                    <input type="text"
                           th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationEmail"
                           aria-describedby="email"
                           th:field="*{email}">
                    <div id="email" class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                </div>
                <div class="mb-3">
                    <label for="userRegistrationPhone" class="form-label" th:text="#{user.phone}"></label>
                    <input type="text"
                           th:class="${#fields.hasErrors('phone')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationPhone"
                           aria-describedby="phone"
                           th:field="*{phone}">
                    <div id="phone" class="invalid-feedback" th:if="${#fields.hasErrors('phone')}"
                         th:errors="*{phone}"></div>
                </div>
                <div class="mb-3">
                    <label for="userRegistrationPassword" class="form-label" th:text="#{user.password}"></label>
                    <input type="password"
                           class="form-control"
                           th:class="${#fields.hasErrors('global')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationPassword"
                           aria-describedby="password"
                           th:field="*{password}">
                    <div id="password" class="invalid-feedback" th:if="${#fields.hasErrors('global')}"
                         th:errors="*{global}"></div>
                    <div id="password1" class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>
                <div class="mb-3">
                    <label for="userRegistrationRepeatPassword" class="form-label"
                           th:text="#{user.repeatpassword}"></label>
                    <input type="password"
                           class="form-control"
                           th:class="${#fields.hasErrors('global')} ? 'form-control is-invalid' : 'form-control'"
                           id="userRegistrationRepeatPassword"
                           aria-describedby="repeatPassword"
                           th:field="*{repeatPassword}">
                    <div id="repeatPassword" class="invalid-feedback" th:if="${#fields.hasErrors('global')}"
                         th:errors="*{global}"></div>
                    <div id="repeatPassword2" class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}"
                         th:errors="*{repeatPassword}"></div>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{create.save}"></button>
            </form>
        </div>
    </div>
</div>

<footer th:insert="fragments/layout :: footer" class="bg-light text-center text-lg-start"></footer>

</body>
</html>